body {
    text-align: center;
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    line-height: 75px;
    margin: 0 auto;
}

.titulo {
    font-size: 4rem;
}

.corpo {
    display: flex;
    justify-content: center;
}

.topicos {
    margin: 50px 100px;
}

.topico {
    text-align: left;
    display: flex;
}

.imagem {
    margin: 100px 75px;
}

.icone {
    height: 50px;
    width: 50px;
    margin: 50px 25px;
}

p {
    word-wrap: break-word;
    width: 500px;
}

.entrada {
    width: 100%;
    padding: 12px;
    margin: 6px 0 16px 0;
    border-radius: 4px;
    /* box-sizing: border-box; */
}
  
.botao {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.container {
    border-radius: 5px;
    padding: 20px;
}